@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string msg = ViewBag.ErrorMsg;
}

<h1>@msg</h1>

<a asp-action="Index" asp-controller="Home" >return to home </a>