@model Authorization_Authentication.Account.UserManager.UserModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Delete Account";
    string username = ViewData["Username"]?.ToString() ?? string.Empty;

}
<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="card bg-secondary text-light w-100" style="max-width: 400px;">
        <div class="card-body">
            <h5 class="card-title text-center">Delete Page</h5>
            <form action="DeleteAccount" method="post">
                <div class="form-group">
                    <label for="username">Username: <strong>@username</strong></label>
                </div>
                <div class="form-group">
                    <p>This will permanently delete your account.</p>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-danger btn-block">Delete Account Permently</button>
            </form>
        </div>
    </div>
</div>