@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>You have Register Sucessfully </h1>

<a asp-action="Login" class="btn btn-primary m-3" >Back to Login</a>

<a asp-action="EmailConfirm" class="btn btn-primary m-3">Verify your Email</a>
