@using Authorization_Authentication.Services.ServicesModel
@model List<Tickets>

<h2>Complains Register</h2>
<div class="d-flex position-absolute top-0 end-0 mt-5 me-0">
<a asp-action="IssueTicket" asp-controller="Ticket" class="btn btn-outline-danger btn-block m-4">New Complain</a>
</div>

@if (Model != null && Model.Count > 0)
{
<table class="table text-black border border-black border-2" >
   
    <thead>
        <tr>
            <th>Your Complain Id</th>
            <th>Title</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var ticket in Model)
        {
            <tr>
                    
                <td class="text-warning">@ticket.TicketId</td>
                <td>@ticket.Title</td>
                <td>@ticket.Status</td>
                <td>
                    <div class="d-flex justify-content-center align-content-centers">
                        <a href="@Url.Action("Chat", "Ticket", new { ticketId = ticket.TicketId })" >
                            <i class="bi bi-chat-right-text-fill" title="Chat">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chat-right-text-fill" viewBox="0 0 16 16">
                                    <path d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h9.586a1 1 0 0 1 .707.293l2.853 2.853a.5.5 0 0 0 .854-.353zM3.5 3h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1m0 2.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1m0 2.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1" />
                                </svg>
                            </i>
                            </a>
                        </div>
                        
                </td>
            </tr>
            }
            </tbody>
</table>
        }
else
{
    <tr>
        <td colspan="4" class="text-center text-black">No Complains found</td>
    </tr>
}
    


