
@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <h1 class="align-baseline">Authentication and authorization without using Identity or Entity Framework.</h1>

    <div class="card bg-grey mt-4">
        <div class="card-body bg-grey">
            <div class="row">
                <div class="col-md-6 mb-3">
                    
                    <a asp-action="UserData" class="btn btn-primary btn-block">UserData</a>
                    
                </div>
                <div class="col-md-6 mb-3">

                    <a  asp-action="UserCart" class="btn btn-primary btn-block">UserCart</a>
                </div>
            </div>
        </div>
    </div>
</div>

